# Python & Django
venv/
.venv/
env/
__pycache__/
*.py[cod]
*.class
*.sqlite3
*.log
local_settings.py
media/
backend/media/

# Node & Frontend
node_modules/
frontend/node_modules/
dist/
frontend/dist/
dist-ssr/
*.local
.pnpm-store/

# Variables de entorno y secretos
.env
.env.*
.env.example
*.pem
*.key
id_rsa*
id_ed25519*

# Backups y volcados temporales de base de datos
*.dump
*.sql
fixtures_temp/


# IDE & Sistema Operativo
.vscode/
.idea/
.DS_Store
Thumbs.db
*.swp

MEMORIA_TECNICA.md
